* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../nft/fonts/WorkSans.ttf);
}
@font-face {
    font-family: 'Space Mono';
    src: url(../NFT/fonts/SpaceMono.ttf);
}

body {
    font-family: 'Work Sans';
    background-color: #2B2B2B !important;
}

.nft-in-nav {
    font-family: 'Space Mono';
}

.a-in-nav {
    font-family: 'Space Mono';
}

.img-gif {
    width: 100%;
}

.btn-in-nav {
    background-color: #A259FF !important; 
    width: 152px; 
    height: 60px; 
    border-radius: 20px !important;
}

.discover-desktop {
    font-weight: 600; 
    font-size: 67px; 
    line-height: 74px; 
    text-transform: capitalize;
    letter-spacing: 4px;
}

.nft-desktop {
    font-weight: 400; 
    font-size: 22px; 
    line-height: 35px; 
    text-transform: capitalize;
    letter-spacing: 2px;
}

.discover-mobile {
    font-weight: 600; 
    font-size: 28px; 
    line-height: 39.2px; 
    text-transform: capitalize;
}

.nft-mobile {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 22.4px; 
    text-transform: capitalize;
    letter-spacing: 1px;
}

.btn-in-section1 {
    background: #A259FF !important;
    border-radius: 20px !important;
}

.a-in-section1 {
    font-weight: 400; 
    font-size: 16px;
}

.p-in-section1-quantity-desktop {
    font-family: 'Space Mono'; 
    font-weight: 700; 
    font-size: 28px;
}

.p-in-section1-type-desktop {
    font-weight: 400; 
    font-size: 23.99px; 
    line-height: 38px;
}

.p-in-section1-quantity-mobile {
    font-family: 'Space Mono'; 
    font-weight: 700; 
    font-size: 22px;
}

.p-in-section1-type-mobile {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 38px;
}